## understanding pandas

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
af = pd.read_csv("C:/gerrald/autos.csv")

In [4]:
print(af)

     symboling         make fuel_type aspiration  num_of_doors   body_style  \
0            3  alfa-romero       gas        std             2  convertible
1            3  alfa-romero       gas        std             2  convertible
2            1  alfa-romero       gas        std             2    hatchback
3            2         audi       gas        std             4        sedan
4            2         audi       gas        std             4        sedan
..         ...          ...       ...        ...           ...          ...
188         -1        volvo       gas        std             4        sedan
189         -1        volvo       gas      turbo             4        sedan
190         -1        volvo       gas        std             4        sedan
191         -1        volvo    diesel      turbo             4        sedan
192         -1        volvo       gas      turbo             4        sedan

    drive_wheels engine_location  wheel_base  length  ...  engine_size  \
0            rwd           front        88.6   168.8  ...          130
1            rwd           front        88.6   168.8  ...          130
2            rwd           front        94.5   171.2  ...          152
3            fwd           front        99.8   176.6  ...          109
4            4wd           front        99.4   176.6  ...          136
..           ...             ...         ...     ...  ...          ...
188          rwd           front       109.1   188.8  ...          141
189          rwd           front       109.1   188.8  ...          141
190          rwd           front       109.1   188.8  ...          173
191          rwd           front       109.1   188.8  ...          145
192          rwd           front       109.1   188.8  ...          141

     fuel_system  bore stroke  compression_ratio  horsepower peak_rpm  \
0           mpfi  3.47   2.68                  9         111     5000
1           mpfi  3.47   2.68                  9         111     5000
2           mpfi  2.68   3.47                  9         154     5000
3           mpfi  3.19   3.40                 10         102     5500
4           mpfi  3.19   3.40                  8         115     5500
..           ...   ...    ...                ...         ...      ...
188         mpfi  3.78   3.15                  9         114     5400
189         mpfi  3.78   3.15                  8         160     5300
190         mpfi  3.58   2.87                  8         134     5500
191          idi  3.01   3.40                 23         106     4800
192         mpfi  3.78   3.15                  9         114     5400

     city_mpg  highway_mpg  price
0          21           27  13495
1          21           27  16500
2          19           26  16500
3          24           30  13950
4          18           22  17450
..        ...          ...    ...
188        23           28  16845
189        19           25  19045
190        18           23  21485
191        26           27  22470
192        19           25  22625

[193 rows x 25 columns]

In [5]:
af_=pd.DataFrame(af)

In [6]:
print(af_)

     symboling         make fuel_type aspiration  num_of_doors   body_style  \
0            3  alfa-romero       gas        std             2  convertible
1            3  alfa-romero       gas        std             2  convertible
2            1  alfa-romero       gas        std             2    hatchback
3            2         audi       gas        std             4        sedan
4            2         audi       gas        std             4        sedan
..         ...          ...       ...        ...           ...          ...
188         -1        volvo       gas        std             4        sedan
189         -1        volvo       gas      turbo             4        sedan
190         -1        volvo       gas        std             4        sedan
191         -1        volvo    diesel      turbo             4        sedan
192         -1        volvo       gas      turbo             4        sedan

    drive_wheels engine_location  wheel_base  length  ...  engine_size  \
0            rwd           front        88.6   168.8  ...          130
1            rwd           front        88.6   168.8  ...          130
2            rwd           front        94.5   171.2  ...          152
3            fwd           front        99.8   176.6  ...          109
4            4wd           front        99.4   176.6  ...          136
..           ...             ...         ...     ...  ...          ...
188          rwd           front       109.1   188.8  ...          141
189          rwd           front       109.1   188.8  ...          141
190          rwd           front       109.1   188.8  ...          173
191          rwd           front       109.1   188.8  ...          145
192          rwd           front       109.1   188.8  ...          141

     fuel_system  bore stroke  compression_ratio  horsepower peak_rpm  \
0           mpfi  3.47   2.68                  9         111     5000
1           mpfi  3.47   2.68                  9         111     5000
2           mpfi  2.68   3.47                  9         154     5000
3           mpfi  3.19   3.40                 10         102     5500
4           mpfi  3.19   3.40                  8         115     5500
..           ...   ...    ...                ...         ...      ...
188         mpfi  3.78   3.15                  9         114     5400
189         mpfi  3.78   3.15                  8         160     5300
190         mpfi  3.58   2.87                  8         134     5500
191          idi  3.01   3.40                 23         106     4800
192         mpfi  3.78   3.15                  9         114     5400

     city_mpg  highway_mpg  price
0          21           27  13495
1          21           27  16500
2          19           26  16500
3          24           30  13950
4          18           22  17450
..        ...          ...    ...
188        23           28  16845
189        19           25  19045
190        18           23  21485
191        26           27  22470
192        19           25  22625

[193 rows x 25 columns]

In [7]:
af.head(8)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8,110,5500,19,25,15250
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,17710
7,1,audi,gas,std,4,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,18920

In [10]:
af.groupby('make')['price'].min().reset_index()

             make  price
0     alfa-romero  13495
1            audi  13950
2             bmw  16430
3       chevrolet   5151
4           dodge   5572
5           honda   5399
6           isuzu   6785
7          jaguar  32250
8           mazda   5195
9   mercedes-benz  25552
10        mercury  16503
11     mitsubishi   5389
12         nissan   5499
13         peugot  11900
14       plymouth   5572
15        porsche  22018
16           saab  11850
17         subaru   5118
18         toyota   5348
19     volkswagen   7775
20          volvo  12940

In [11]:
af.groupby('make')['price'].std().min()

754.421632775731

In [12]:
af.groupby(['make','fuel_type']).mean().tail(2)

                 symboling  num_of_doors  wheel_base  length  width  height  \
make  fuel_type
volvo diesel          -1.0           4.0      109.10   188.8  68.90   55.50
      gas             -1.3           4.0      106.22   188.8  67.87   56.31

                 curb_weight  num_of_cylinders  engine_size   bore  stroke  \
make  fuel_type
volvo diesel          3217.0               6.0        145.0  3.010   3.400
      gas             3020.0               4.2        142.0  3.728   3.122

                 compression_ratio  horsepower  peak_rpm  city_mpg  \
make  fuel_type
volvo diesel                  23.0       106.0    4800.0      26.0
      gas                      8.4       130.2    5340.0      20.7

                 highway_mpg    price
make  fuel_type
volvo diesel            27.0  22470.0
      gas               25.7  17622.5

In [13]:
af_group = af.groupby(['make','fuel_type'])
af_agg_price = af_group['price'].agg(['max','min','mean'])
print(af_agg_price)

                           max    min          mean
make          fuel_type
alfa-romero   gas        16500  13495  15498.333333
audi          gas        23875  13950  17859.166667
bmw           gas        41315  16430  26118.750000
chevrolet     gas         6575   5151   6007.000000
dodge         gas        12964   5572   7790.125000
honda         gas        12945   5399   8184.692308
isuzu         gas        11048   6785   8916.500000
jaguar        gas        36000  32250  34600.000000
mazda         diesel     18344  18344  18344.000000
              gas        18280   5195   9080.000000
mercedes-benz diesel     31600  25552  28394.000000
              gas        45400  34184  38900.000000
mercury       gas        16503  16503  16503.000000
mitsubishi    gas        14869   5389   9239.769231
nissan        diesel      7099   7099   7099.000000
              gas        19699   5499  10610.764706
peugot        diesel     17950  13200  15797.000000
              gas        18150  11900  15232.500000
plymouth      gas        12764   5572   7963.428571
porsche       gas        37028  22018  31400.500000
saab          gas        18620  11850  15223.333333
subaru        gas        11694   5118   8541.250000
toyota        diesel     10698   7788   8794.666667
              gas        17669   5348   9998.689655
volkswagen    diesel     13845   7775   9777.500000
              gas        13295   7975  10227.500000
volvo         diesel     22470  22470  22470.000000
              gas        22625  12940  17622.500000

In [15]:
dic_1 = {"make":af.make, "price":af.price, "fuel_type":af.fuel_type}
af_1 = pd.DataFrame(dic_1)
print(af_1)

            make  price fuel_type
0    alfa-romero  13495       gas
1    alfa-romero  16500       gas
2    alfa-romero  16500       gas
3           audi  13950       gas
4           audi  17450       gas
..           ...    ...       ...
188        volvo  16845       gas
189        volvo  19045       gas
190        volvo  21485       gas
191        volvo  22470    diesel
192        volvo  22625       gas

[193 rows x 3 columns]

In [16]:
dic_2 = {"num_of_doors":af.num_of_doors, "engine_size":af.engine_size, "wheel_base":af.wheel_base}
af_2 = pd.DataFrame(dic_2)
print(af_2)

     num_of_doors  engine_size  wheel_base
0               2          130        88.6
1               2          130        88.6
2               2          152        94.5
3               4          109        99.8
4               4          136        99.4
..            ...          ...         ...
188             4          141       109.1
189             4          141       109.1
190             4          173       109.1
191             4          145       109.1
192             4          141       109.1

[193 rows x 3 columns]

In [17]:
merged_dics = pd.merge(af_1,af_2,on=af.make)
print(merged_dics)

            key_0         make  price fuel_type  num_of_doors  engine_size  \
0     alfa-romero  alfa-romero  13495       gas             2          130
1     alfa-romero  alfa-romero  13495       gas             2          130
2     alfa-romero  alfa-romero  13495       gas             2          152
3     alfa-romero  alfa-romero  16500       gas             2          130
4     alfa-romero  alfa-romero  16500       gas             2          130
...           ...          ...    ...       ...           ...          ...
2716        volvo        volvo  22625       gas             4          141
2717        volvo        volvo  22625       gas             4          141
2718        volvo        volvo  22625       gas             4          173
2719        volvo        volvo  22625       gas             4          145
2720        volvo        volvo  22625       gas             4          141

      wheel_base
0           88.6
1           88.6
2           94.5
3           88.6
4           88.6
...          ...
2716       109.1
2717       109.1
2718       109.1
2719       109.1
2720       109.1

[2721 rows x 7 columns]